<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_out" data-method="delete">Sign out</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/sign_in" method="delete">Login</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="/signup" method="delete">Register</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav> 